# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/955e8d3e744245f8cfa7177dbe56d311db7ffcb0
/src/generated/resources/.cache/c8852ce05f6e8e7bb5a232b754217e0116bdb480
/src/generated/resources/.cache/598ca3620c974ce7184c6784c15db0d60960059e
/src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
/src/generated/resources/.cache/0af1407dda147b04f2524fbd472aeea5dc388b22
